*{
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.1em !important;
    color: #212529;
    font-family: 'Lora', 'Times New Roman', serif !important;
  }
  
  p {
    line-height: 1.5;
    margin: 30px 0;
  }
  
  p a {
    text-decoration: underline;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 800;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  
  a {
    color: #212529;
    transition: all 0.2s;
  }
  
  a:focus, a:hover {
    color: #0085A1;
  }
  
  blockquote {
    font-style: italic;
    color: #868e96;
  }

/*------------------------------ header ------------------------------*/

header.masthead {
    margin-bottom: 50px;
    background: no-repeat center center;
    background-color: #868e96;
    background-attachment: scroll;
    position: relative;
    background-size: cover;
  }
  
  header.masthead .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #212529;
    opacity: 0.5;
  }
  
  header.masthead .page-heading,
  header.masthead .post-heading,
  header.masthead .site-heading {
    padding: 200px 0 150px;
    color: white;
  }
  
  @media only screen and (min-width: 768px) {
    header.masthead .page-heading,
    header.masthead .post-heading,
    header.masthead .site-heading {
      padding: 200px 0;
    }
  }
  
  header.masthead .page-heading,
  header.masthead .site-heading {
    text-align: center;
  }
  
  header.masthead .page-heading h1,
  header.masthead .site-heading h1 {
    font-size: 50px;
    margin-top: 0;
  }
  
  header.masthead .page-heading .subheading,
  header.masthead .site-heading .subheading {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.1;
    display: block;
    margin: 10px 0 0;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  
  @media only screen and (min-width: 768px) {
    header.masthead .page-heading h1,
    header.masthead .site-heading h1 {
      font-size: 90px;
      font-weight: 700;
    }
  }


/*------------------------------ nav ------------------------------*/

#btnConnexion {
  text-decoration: none;
  color: white;
}
#btnConnexion:hover {
  text-decoration: none;
  color: #212529;
}

#mainNav {
    position: absolute;
    border-bottom: 1px solid #e9ecef;
    background-color: white;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  
  #mainNav .navbar-brand {
    font-weight: 800;
    font-size: 1.2em;
    color: #343a40;
  }
  
  #mainNav .navbar-toggler {
    font-size: 12px;
    font-weight: 800;
    padding: 13px;
    text-transform: uppercase;
    color: #343a40;
  }
  
  #mainNav .navbar-nav > li.nav-item > a {
    font-size: 0.7em;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  @media only screen and (min-width: 992px) {
    #mainNav {
      border-bottom: 1px solid transparent;
      background: transparent;
    }
    #mainNav .navbar-brand {
      padding: 10px 20px;
      color: #fff;
    }
    #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
      color: rgba(255, 255, 255, 0.8);
    }
    #mainNav .navbar-nav > li.nav-item > a {
      padding: 10px 20px;
      color: #fff;
    }
    #mainNav .navbar-nav > li.nav-item > a:focus, #mainNav .navbar-nav > li.nav-item > a:hover {
      color: rgba(255, 255, 255, 0.8);
    }
    #mainNav {
      transition: background-color 0.2s;
      /* Force Hardware Acceleration in WebKit */
      transform: translate3d(0, 0, 0);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }
    #mainNav.is-fixed {
      /* when the user scrolls down, we hide the header right above the viewport */
      position: fixed;
      top: -67px;
      transition: transform 0.2s;
      border-bottom: 1px solid white;
      background-color: rgba(255, 255, 255, 0.9);
    }
    #mainNav.is-fixed .navbar-brand {
      color: #212529;
    }
    #mainNav.is-fixed .navbar-brand:focus, #mainNav.is-fixed .navbar-brand:hover {
      color: #0085A1;
    }
    #mainNav.is-fixed .navbar-nav > li.nav-item > a {
      color: #212529;
    }
    #mainNav.is-fixed .navbar-nav > li.nav-item > a:focus, #mainNav.is-fixed .navbar-nav > li.nav-item > a:hover {
      color: #0085A1;
    }
    #mainNav.is-visible {
      /* if the user changes the scrolling direction, we show the header */
      transform: translate3d(0, 100%, 0);
    }
  }

/* Dropdown */

.dropdown:hover > .dropdown-menu {
    display: block;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    margin-top: -5%;
}
.dropdown:hover > .dropdown-menu a{
    color: white;
}
.dropdown:hover > .dropdown-menu a:hover {
    background-color: #a0a0a0;
    color: white;
}
.dropdown > .dropdown-toggle:active {
    pointer-events: none;
}

/*------------------------------ index ------------------------------*/

.section-heading {
    font-size: 36px;
    font-weight: 700;
    border: solid grey 2px;
    border-radius: 10px;
    box-shadow: 5px 4px 4px grey;
    margin-bottom: 20px;
  }

  .heading-ecole {
    margin-top: -10px;
  }

  .heading-galerie {
    margin-top: 25px;
  }

  .card-title {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }

 .card-title:hover {
    text-decoration: underline;
    color: black;
    cursor: pointer;
  }

  .card-text a, #allArticles {
    color: black;
  }

  .card-text a:hover, #allArticles:hover {
    color: black;
    cursor: pointer;
    text-decoration: none;
  }

  #newsForm {
    display: flex;
    flex-direction: column;
    background-color: #efefef;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
  }

  .newsField {
    color: #495057;
    font-size: 1rem;
    font-weight: 400;
    padding: .375rem .75rem;
    border-radius: .25rem;
    border: 1px solid #ced4da;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

  /* carousel */
  
  .carousel {
    height: 250px;
    display: flex;
    flex: 1 0 250px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }

  .carousel img {
    width: 350px;
    padding: 10px;
  }


/*------------------------------ articles ------------------------------*/

.imagesArticles img {
  width: 300px;
  margin-right: 10px;
}

.articleTitle {
  border: solid grey 2px;
  border-radius: 10px;
  box-shadow: 5px 4px 4px grey;
  padding: 10px;
}

.flexArticle {
  display: flex;
}

@media only screen and (max-width: 992px) {
  .flexArticle {
    flex-direction: column;
  }
}

/*------------------------------ articles admin ------------------------------*/

.addArticle {
  margin-right: 73px;
  margin-bottom: 30px;
}

.addArticle a {
  text-decoration: none;
  color: white;
  font-size: 1.2em;
}

.addArticle a:hover {
  color: black;
  text-decoration: underline;
}

.upDelArticle span {
  font-size: 1.1em;
}

.upDelArticle a {
  color: white;
  width: 200px;
  margin-bottom: 10px;
}

.tableArticles, .tableArticles tr, .tableArticles th, .tableArticles td {
  border: none;
}
.thUpDel {
  width: 230px;
}

/*------------------------------ article ------------------------------*/

#allArticles {
  text-decoration: none;
}

#allArticles:hover {
  text-decoration: underline;
}


/*------------------------------ cantine ------------------------------*/
#tableauCantine, th, td{
    border: solid black 1px;
    border-collapse: collapse;
    padding: 5px;
}

.schoolCafeteriaTitle {
  border: solid grey 2px;
  border-radius: 10px;
  box-shadow: 5px 4px 4px grey;
  padding: 8px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.informations {
  margin-top: 5px;
}

.informations ul li {
  margin-left: 15px;
}

#menuCantine {
  margin: 20px;
}

/*------------------------------ TAP ------------------------------*/

#organisation {
  margin-bottom: 15px;
}

#organisationTitle {
  border: solid grey 2px;
  border-radius: 10px;
  box-shadow: 5px 4px 4px grey;
  padding: 8px;
  margin-bottom: 15px;
}

#activites img {
  max-width: 550px;
  height: 350px;
  justify-content: center;
}

#activites .card-text {
  height: 130px;
}

#activites, #citation {
  margin-bottom: 70px;
}

/*------------------------------ Les classes ------------------------------*/

.classesTitle {
  border: solid grey 2px;
  border-radius: 10px;
  box-shadow: 5px 4px 4px grey;
  padding: 8px;
  margin-bottom: 15px;
}

#classesPrimaire {
  margin-top: 10px;
}

/*------------------------------ Règlement intérieur ------------------------------*/

.reglementTitle {
  border: solid grey 2px;
  border-radius: 10px;
  box-shadow: 5px 4px 4px grey;
  padding: 8px;
}

.listeReglement li {
  margin-left: 50px;
}

/*------------------------------ infos pratiques ------------------------------*/

.textUnderline {
  text-decoration: underline;
}

.infoTitle {
  border: solid grey 2px;
  border-radius: 10px;
  box-shadow: 5px 4px 4px grey;
  padding: 8px;
}

#listInfo li {
  margin-left: 50px;
}

/*------------------------------ footer ------------------------------*/

footer {
  margin-top: 30px;
}

.aFooter:link{
    text-decoration: none;
}